{% extends 'base.html' %}
{% block l2%}
<a  class="nav-link" href="{% url  'create-departamento' %}" >Adicionar Departamento</a>
{%endblock%}
{% block l3%}
                    <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
{% endblock %}
{% block title %}Departamentos (Lista){%endblock%}
{% block main %}
     {% for departamento in object_list %}
     <table style="align-content: center; background-color: #efe5d2;" width="100%">
      <tbody style="height: 105px; border: 1; border-style: solid; border-color: #edebeb;" >
        <th><a style="font-size: 18px;" href="{% url  'edit-departamento'  departamento.id %}">
            <span style="font-style: bold; color: gray;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
               </svg>
                    </span> {{ departamento }} <br>
                <table  style="border-color: #d7c9a3;  border-style: dotted; border-size: 1" border=1 width="99%" >
                     <tbody  >
                  <tr style="height: 16px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #6d8295; font-size: 9px;'">
                  <th scope="col" width="35%">&nbsp;Encarregado </th>
                  <th scope="col" width="60%" >&nbsp;Localização </th>
                  <th scope="col" width="5%" >&nbsp; </th>
                </tr>
                <tr style="height: 12px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #665526;  font-size: 14px;'">
                  <td>&nbsp;{{ departamento.encarregado }}</td>
                  <td>&nbsp;{{ departamento.localizacao }}</td>
        <td style="text-align: center;alt='Excluir Departamento';" scope="col" width="5%">
            <a style="color: #f94c4c; align: BOTTOM; " href="{% url  'delete-departamento'  departamento.id%}"  >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg>

        </td>
                   </tr>
              </tbody>
                </table></th>
              </tbody>
            </table>             
</a>


{% endfor %}
{% endblock %}
