{% extends 'base.html' %}

{% block l2%}
<a class="nav-link" href="{% url  'create-funcionario' %}" xmlns="http://www.w3.org/1999/html">+<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
</svg>  Funcionário</a>
{%endblock%}
{% block l3%}
                    <a class="nav-link" href="{% url 'logout' %}"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</svg> LogOut</a>
{% endblock %}
{% block leg%}<span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #9eb6cb; font-size: 10px;' align-text: right;">
    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
               </svg> Editar  |  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                  <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg> Excluir  | <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> Visualizar / Lançar Documentos e Horas-Extras </span>

{% endblock %}
{% block title %}
Funcionários (Lista)
{% endblock %}
{% block main %}

{% for funcionario in object_list %}

    <a href="{% url  'edit-funcionario'  funcionario.id %}"><table  class="border-bottom  rounded " style="align-content: top" width="100%">

    <tbody  >
     &nbsp;&nbsp;<tr>

         <th style="text-align: center; " scope="col" width="12%"><a style= "color: black; align: BOTTOM;" href="{% url  'detalhe-funcionario'  funcionario.id%}">
                  {% if funcionario.foto %}
            <img style="width: 80px" src="{{ funcionario.foto.url }}">
                    {% else %}
            <img style="width: 80px" src="/media/documentos/user2.jpg">
                    {% endif %}</a>
        </th>
         <th width="4%" style="margin-letf: 20px; margin-right: 20px; text-align: center; " >
               <a style= "color: gray; align: BOTTOM;" href="{% url  'detalhe-funcionario'  funcionario.id%}">&nbsp
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>&nbsp
             </a>
         </th>

        <th scope="col" width="98%">
                <table  class="border border-white " style="border-color: #e2dfc2;  border-style: dotted; border-size: 1" border=1 width="99%" >
                     <tbody  >
                  <tr style="height: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #9eb6cb; font-size: 11px;'">
                  <th scope="col" width="25%">&nbsp; Fone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;<span style="height: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: gray;; font-size: 13px;'">{{ funcionario.fone }}</span></th>
                </tr>
                 <tr style="height: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #9eb6cb; font-size: 11px;'">
                   <th scope="col"  >&nbsp;&nbsp;Endereço &nbsp;|&nbsp;&nbsp;&nbsp;<span style="height: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: gray;; font-size: 13px;'">{{ funcionario.endereco }}</span></th>
                </tr>
                <tr style="height: 7px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #9eb6cb; font-size: 11px;'">
                   <th scope="col" width="100%">&nbsp;&nbsp;Cidade  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span style="height: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: gray;; font-size: 13px;'">{{ funcionario.cidade }}</span></th>
                    </tr>
                     </tbody>
               </table>
         </th>



    </tr>
    </tbody>
</table></a>
        <div class="container border right " style="background-color: #fcf9df; ">&nbsp;&nbsp;

           <span style="text-align: center; height: 30px; width: 60px;  float: center;">
            <a style="color: red; align: BOTTOM;" href="{% url  'delete-funcionario'  funcionario.id%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                  <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
            </a> |
             <a style= "color: black; align: BOTTOM;" href="{% url  'detalhe-funcionario'  funcionario.id%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
             </a></span>|
<!--         <a class="alert-link" style="font-size: 15px; " href="{% url  'edit-funcionario'  funcionario.id %}">-->
<!--              <span style="font-style: bold;  float: center;">  &nbsp; ::&nbsp;{{ funcionario }}&nbsp; :: &nbsp;</span></a>-->

         <a class="alert-link" style="font-size: 15px; " href="{% url  'edit-funcionario'  funcionario.id %}">
           <span style="font-style: bold; color: blue;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
               </svg></span>
               <span style="font-style: bold;  float: center;">  &nbsp; ::&nbsp;{{ funcionario }}&nbsp; :: &nbsp;</span>
          </a>
        </div>


{% endfor %}

{% endblock %}
