{% extends 'base.html' %}

{% block l2%}
<a  class="nav-link" href="{% url  'create-funcionario' %}" >Adicionar Funcionário</a>
{%endblock%}
{% block l3%}
                    <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
{% endblock %}
{% block title %}
Funcionários (Lista)
{% endblock %}
{% block main %}

    {% for funcionario in object_list %}




<table style="background-color: #fbfafa;" width="100%">
    <tbody style="height: 105px; border: 1; border-style: solid; border-color: #edebeb;" >
    <tr>
        <th style="text-align: center;" scope="col" width="15%">
                   {% if funcionario.foto %}
            <img style="width: 92px" src="{{ funcionario.foto.url }}">
                    {% else %}
            <img style="width: 92px" src="/media/documentos/user2.jpg">
                    {% endif %}

        </th>

        <th scope="col" width="80%">
          <a style="font-size: 18px;" href="{% url  'edit-funcionario'  funcionario.id %}">
            <span style="font-style: bold; color: gray;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
               </svg>
                    </span> {{ funcionario }} <br>
                <table  style="border-color: #d7c9a3;  border-style: dotted; border-size: 1" border=1 width="99%" >
                     <tbody  >
                  <tr style="height: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #acaaaa; font-size: 9px;'">
                  <th scope="col" width="100px">&nbsp;Fone </th>
                  <th scope="col"  >&nbsp;&nbsp;Endereço </th>
                </tr>
                <tr style="height: 12px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: gray; font-size: 12px;'">
                  <td>&nbsp;{{ funcionario.fone  }}</td>
                  <td>&nbsp;{{ funcionario.endereco }}</td>

                   </tr>
              </tbody>
                </table>


               <table  style="float: right-top; border-color: #d7c9a3;  border-style: dotted; border-size: 1" border=1 width="99%" >
                     <tbody  >
                <tr style="height: 7px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #acaaaa; font-size: 9px;'">
                   <th scope="col" width="50%">&nbsp;&nbsp;Cidade </th>
                   <th scope="col" width="50%">&nbsp;&nbsp;Complemento</th>
                  </tr>
                <tr style="height: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: gray; font-size: 12px;'">
               <td>&nbsp;{{ funcionario.cidade }}</td>
               <td>&nbsp;{{ funcionario.complemento }}</td>
                </tr>
                     </tbody>
            </table>
         </th>

        <th style="margin-right: 30px;" scope="col" width="5%">
            <a style="color: #f94c4c; align: BOTTOM;" href="{% url  'delete-funcionario'  funcionario.id%}"  >
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                  <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708Z"/>
                </svg>
            </a>
        </th>

    </tr>
    </tbody>
</table>

    {% endfor %}

{% endblock %}
