{% extends 'base.html' %}
{% block l1%}
<a  class="nav-link" href="{% url 'list-funcionarios'%}" >Retornar a Funcionários</a>
{%endblock%}
{% block l2%}
                    <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
{% endblock %}
{% block title %}Exclusão de Funcionário{%endblock%}
{% block main %}
   Você está certo que quer deletar <br>
   <h3>  {{ funcionario.nome }} </h3><br>
    <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-danger" >Confirmar</button>
    </form>
{% endblock %}