{% load static %}

<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
  <head>
  	<title>Gestão - RH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
  <body>
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
                    {% if user.funcionario.foto %}
		  		<a href="#" class="img logo rounded-circle mb-4" style="background-image: url({{ user.funcionario.foto.url }});"></a>
                    {% else %}
		  		<a href="#" class="img logo rounded-circle mb-4" style="background-image: url(/media/documentos/user.jpg);"></a>
                    {% endif %}
                    <p style= "padding: 0; background-color: #d49927; color: #915109; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">{{ user.funcionario.nome }}</p>
                    <br>
	        <ul class="list-unstyled components mb-5">
	          <li>
	              <a href="{% url 'home' %}">Home (Principal)</a>
	          </li>
		          <li class="active">
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cadastros</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
	              <a href="{% url 'list-funcionarios'%}">Funcionários</a>
                </li>
                <li>
	              <a href="{% url 'list-departamentos'%}">Departamentos</a>
                </li>
                <li>
	              <a href="{% url 'list-hora-extra'%}">Banco de Horas</a>
                </li>
              </ul>
	          </li>
                <li>
	              <a href="{% url 'list-funcionarios'%}">Relatórios</a>
	          </li>

	          <li>
              <a href="#">Contato</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos direitos reservados  <i class="icon-heart" aria-hidden="true"></i> à <a href="https://colorlib.com" target="_blank">Devs.DarimPY</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
       <span id="content" class="p-4 p-md-3" style="text-align: justify;">
            <button class="container" style="text-align: left;   border-style: dotted;   border-color: lightgray;">
                <div style="float: right;">
                <span style="font-size: 10px; color: gray; paddiing: 50%;"> Usuário:</span>
                      {{ user.funcionario.nome }}
                <span style="color: orange;">|</span>
                <span style="font-size: 10px; color: gray;">Empresa:</span>
                    {{ user.funcionario.empresa }}
                </div>

            </button>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu </span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>

            </button>
                     <span style="text-align: center; font-size: 20px; color: orange;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {% block title %}{% endblock %} </span>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Principal</a>
                </li>
                <li class="nav-item">{%block l1%} {%endblock%}
                </li>
                <li class="nav-item">{%block l2%} {%endblock%}
                </li>
                <li class="nav-item">{%block l3%} {%endblock%}
                </li>
              </ul>
            </div>
          </div>

        </nav>
              <div class="container" style="border: dotted; border-color: #ffecaa; background-color: white">   <br>      {%block main%}  {%endblock%}<br>
              </div>
       </span>
      </div>

    <script src="{% static 'js/jquery.min.js'%} "></script>
    <script src="{% static 'js/popper.js'%} "></script>
    <script src="{% static 'js/bootstrap.min.js'%} "></script>
    <script src="{% static 'js/main.js'%} "></script>
  </body>
</html>