{% extends 'base.html' %}
{%block l1%}
                 {% if usuario.funcionario.empresa %}
                    <a class="nav-link" href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
  <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
  <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
</svg> Editar Empresa</a>
                 {% else %}
                    <a class="nav-link" href="{% url 'create_empresa' %}"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
  <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
  <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
</svg> Criar Empresa</a>
                 {% endif %}
{%endblock%}
{% block l2%}
<a class="nav-link" href="{% url 'logout' %}"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</svg> LogOut</a>
{% endblock %}
{% block l3%}
                    <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-telephone-inbound" viewBox="0 0 16 16">
  <path d="M15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0zm-12.2 1.182a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
</svg>  Contato</a>
{% endblock %}
{% block title %}
Seja bem vindo.{% endblock %}

{% block main %}
<div  style="text-align: justify; margin-left: 50px; margin-right: 50px;">
<h4 style="color: #915109;">O que é Gestão de Recursos Humanos??</h4>
<p>A gestão de RH é responsável por construir uma relação vantajosa para o colaborador e para a empresa, encontrando pontos em comum onde ambos se beneficiam. Enquanto para a organização devem ser observadas estratégias e resultados almejados, para os funcionários deve-se prezar pelos benefícios e crescimento profissional.
</p>
          <p> Por meio de técnicas da Administração, Recursos Humanos e até mesmo Psicologia e Sociologia, é possível encontrar pontos de melhoria e resolução de problemas para aperfeiçoar a Gestão de Recursos Humanos. </p>
<br>
<h4 style="color: #915109;">O que faz um gestor de RH? </h4><p>
Uma gestora ou gestor de recursos humanos é responsável por pensar as diferentes frentes da área de RH de forma estratégica, otimizando processos e trazendo melhorias.
</p><p>
Ele deve ter uma visão macro e micro do negócio, ou seja, deve entender como as tarefas do dia a dia são realizadas, que vão desde o recrutamento e seleção até o desligamento de um funcionário da empresa, além de também manter-se atualizado e atento para novidades que podem beneficiar o negócio.
</p><p>
    Algumas das atividades desempenhadas por um gestor de RH: </p>
<li>  Recrutamento e seleção; </li>
<li>  Treinamento e Desenvolvimento; </li>
<li>  Remuneração e benefícios;</li>
<li>  Elaboração de um plano de carreira para os funcionários; </li>
<li>  Estratégias para melhorar a cultura organizacional;</li>
<li>  Acompanhar os indicadores e entender o que pode estar causando o turnover. </li>
<br>
<p>De modo geral, um bom gestor de recursos humanos precisa ter amplo domínio sobre a operacionalização das principais atividades realizadas pelo setor de RH da empresa e também possuir uma visão estratégica e inovadora para melhorar os processos e alinhar o setor com as demais áreas e objetivos da organização. </p>
</div>
    {% endblock %}
