{% extends 'base.html' %}
{%block l1%}
                 {% if usuario.funcionario.empresa %}
                    <a class="nav-link" href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>
                 {% else %}
                    <a class="nav-link" href="{% url 'create_empresa' %}">Criar Empresa</a>
                 {% endif %}
{%endblock%}
{% block l2%}
                    <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
{% endblock %}
{% block l3%}
                    <a class="nav-link" href="#">Contato</a>
{% endblock %}
{% block title %}
Seja bem vindo.{% endblock %}

{% block main %}
<div  style="text-align: justify; margin-left: 50px; margin-right: 50px;">
<h4 style="color: #915109;">O que é Gestão de Recursos Humanos?</h4>
<p>A gestão de RH é responsável por construir uma relação vantajosa para o colaborador e para a empresa, encontrando pontos em comum onde ambos se beneficiam. Enquanto para a organização devem ser observadas estratégias e resultados almejados, para os funcionários deve-se prezar pelos benefícios e crescimento profissional.
</p>
          <p> Por meio de técnicas da Administração, Recursos Humanos e até mesmo Psicologia e Sociologia, é possível encontrar pontos de melhoria e resolução de problemas para aperfeiçoar a Gestão de Recursos Humanos. </p>
<br>
<h4 style="color: #915109;">O que faz um gestor de RH? </h4><p>
Uma gestora ou gestor de recursos humanos é responsável por pensar as diferentes frentes da área de RH de forma estratégica, otimizando processos e trazendo melhorias.
</p><p>
Ele deve ter uma visão macro e micro do negócio, ou seja, deve entender como as tarefas do dia a dia são realizadas, que vão desde o recrutamento e seleção até o desligamento de um funcionário da empresa, além de também manter-se atualizado e atento para novidades que podem beneficiar o negócio.
</p><p>
    Algumas das atividades desempenhadas por um gestor de RH: </p>
<li>    Recrutamento e seleção; </li>
<li>  Treinamento e Desenvolvimento; </li>
<li>  Remuneração e benefícios;</li>
<li>  Elaboração de um plano de carreira para os funcionários; </li>
<li>  Estratégias para melhorar a cultura organizacional;</li>
<li>  Acompanhar os indicadores e entender o que pode estar causando o turnover. </li>
<br>
<p>De modo geral, um bom gestor de recursos humanos precisa ter amplo domínio sobre a operacionalização das principais atividades realizadas pelo setor de RH da empresa e também possuir uma visão estratégica e inovadora para melhorar os processos e alinhar o setor com as demais áreas e objetivos da organização. </p>
</div>
    {% endblock %}
